@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  background-color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(139, 139, 139);
  background-color: rgb(89, 95, 95);
}
